@import url(@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
@import url(@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i');



body {
  font-family: 'Lora-Italic', serif;
  padding-bottom: 10em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway-Thin', sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: .02rem;
  line-height: 1;
  padding-top: 2em;
}

      .q1 {
        background-image: url('img/Q1.png');
        background-size: cover;
        
      }
      .q2 {
        background-image: url('img/Q2.png');
        background-size: cover;
      }

article header {
  margin-bottom: .01rem;
  background-color: #fdda00;
  padding-bottom: 7em
}

article section {
  border-top: 1px;
  margin-top: 3rem;
  padding-top: 1.5rem;
}

article section h2 {
  margin-top: 0;
}

blockquote {
  font-size: 1.25em;
  padding-top: 5em;
  color: black;
  font-family: '400italic', serif;
  font-style: italic;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  text-indent: -.3em;
}


blockquote p {
  text-indent: 5em;
  font-size: 80%;
  margin-bottom: 0;
} 

blockquote p + p {
  margin: 0;
}

section blockquote {
  font-size: 1em;
  border-left: .25em solid;
  margin-left: 1em;
  margin-right: 2em;
  padding-left: 1em;
}
* { box-sizing: border-box; } 

.container {

	margin-left: auto;
	margin-right: auto;

}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 3px solid;	
}

header nav ul li {
	border-bottom: 1px solid;
	padding: 1em;
}

/** columns **/

[class*='col-'] {
	float: left;
	padding-left: .75em;
	padding-right: .75em;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 { width: 100%;}


body {
	margin: 0px;
}



/** media query **/



@media (min-width: 600px) {



	header nav ul {
		border-bottom: 1px solid;
	}

	header nav ul li {
		display: inline-block;
		border-bottom: none;
	}


	.col-1  { width: calc( 100% / 9 * 1 );}
	.col-2  { width: calc( 100% / 9 * 2 );}
	.col-3  { width: calc( 100% / 9 * 3 );}
	.col-4  { width: calc( 100% / 9 * 4 );}
	.col-5  { width: calc( 100% / 9 * 5 );}
	.col-6  { width: calc( 100% / 9 * 6 );}
	.col-7  { width: calc( 100% / 9 * 7 );}
	.col-8  { width: calc( 100% / 9 * 8 );}
	.col-9  { width: calc( 100% / 9 * 9 );}
	.col-10 { width: calc( 100% / 9 * 9 );}
	.col-11 { width: calc( 100% / 9 * 9 );}
	.col-12 { width: calc( 100% / 9 * 9 );}


	/** offsets **/

	.col-offset-1  { margin-left: calc( 100% / 9 * 1 );}
	.col-offset-2  { margin-left: calc( 100% / 9 * 2 );}
	.col-offset-3  { margin-left: calc( 100% / 9 * 3 );}
	.col-offset-4  { margin-left: calc( 100% / 9 * 4 );}
	.col-offset-5  { margin-left: calc( 100% / 9 * 5 );}
	.col-offset-6  { margin-left: calc( 100% / 9 * 6 );}
	.col-offset-7  { margin-left: calc( 100% / 9 * 7 );}
	.col-offset-8  { margin-left: calc( 100% / 9 * 8 );}
	.col-offset-9  { margin-left: calc( 100% / 9 * 9 );}
	.col-offset-10 { margin-left: calc( 100% / 9 * 9 );}
	.col-offset-11 { margin-left: calc( 100% / 9 * 9 );}
	.col-offset-12 { margin-left: calc( 100% / 9 * 9 );}
	


	.row {
		margin-left: -.75em;
		margin-right: -.75em;
	}

	.cf::after,
	.clearfix.after,
	.row::after {
		content: ' ' ;
		display: table;
		clear:both;
	}	
	
	
}



@media (min-width: 900px) {
	

	.col-1  { width: calc( 100% /  12 * 1 );}
	.col-2  { width: calc( 100% /  12 * 2 );}
	.col-3  { width: calc( 100% /  12 * 3 );}
	.col-4  { width: calc( 100% /  12 * 4 );}
	.col-5  { width: calc( 100% /  12 * 5 );}
	.col-6  { width: calc( 100% /  12 * 6 );}
	.col-7  { width: calc( 100% /  12 * 7 );}
	.col-8  { width: calc( 100% /  12 * 8 );}
	.col-9  { width: calc( 100% /  12 * 9 );}
	.col-10 { width: calc( 100% /  12 * 10 );}
	.col-11 { width: calc( 100% /  12 * 11 );}
	.col-12 { width: calc( 100% /  12 * 12 );}


	/** offsets **/

	.col-offset-1  { margin-left: calc( 100% / 12 * 1 );}
	.col-offset-2  { margin-left: calc( 100% / 12 * 2 );}
	.col-offset-3  { margin-left: calc( 100% / 12 * 3 );}
	.col-offset-4  { margin-left: calc( 100% / 12 * 4 );}
	.col-offset-5  { margin-left: calc( 100% / 12 * 5 );}
	.col-offset-6  { margin-left: calc( 100% / 12 * 6 );}
	.col-offset-7  { margin-left: calc( 100% / 12 * 7 );}
	.col-offset-8  { margin-left: calc( 100% / 12 * 8 );}
	.col-offset-9  { margin-left: calc( 100% / 12 * 9 );}
	.col-offset-10 { margin-left: calc( 100% / 12 * 10 );}
	.col-offset-11 { margin-left: calc( 100% / 12 * 11 );}
	.col-offset-12 { margin-left: calc( 100% / 12 * 12 );}





}















